In [2]:
import mysql.connector
conn = mysql.connector.connect (user='mainuser', password='mainpass',
                               host='mysql',buffered=True)
cursor = conn.cursor()
databases = ("show databases")
cursor.execute(databases)
for (databases) in cursor:
     print(databases[0])

information_schema
maindb

In [4]:
import mysql.connector
conn = mysql.connector.connect(user='mainuser', password='mainpass',
                               host='mysql',buffered=True)

cursor = conn.cursor()
cursor.execute('use maindb')
cursor.execute("show tables") 
cursor.fetchall()

[]

In [ ]:
# mysql://myuser:mypass:pass@db.host:3306/somedb

In [1]:
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base

In [2]:
engine = sqlalchemy.create_engine('mysql+mysqlconnector://mainuser:mainpass@mysql:3306/maindb', echo=True)

In [3]:
# Define and create the table
Base = declarative_base()
 
class User(Base):
    __tablename__ = 'users'
 
    id = sqlalchemy.Column(sqlalchemy.Integer, primary_key=True)
    name = sqlalchemy.Column(sqlalchemy.String(length=50))
    fullname = sqlalchemy.Column(sqlalchemy.String(length=50))
    nickname = sqlalchemy.Column(sqlalchemy.String(length=50))
 
    def __repr__(self):
        return "<User(name='{0}', fullname='{1}', nickname='{2}')>".format(
                            self.name, self.fullname, self.nickname)
 
Base.metadata.create_all(engine)

2020-08-20 15:42:00,761 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-08-20 15:42:00,764 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 15:42:00,771 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-08-20 15:42:00,772 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 15:42:00,776 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-08-20 15:42:00,777 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 15:42:00,780 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-08-20 15:42:00,781 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 15:42:00,783 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-08-20 15:42:00,784 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 15:42:00,786 INFO sqlalchemy.engine.base.Engine DESCRIBE `users`
2020-08-20 15:42:00,787 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 15:42:00,788 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-08-20 15:42:00,790 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(50),
	fullname VARCHAR(50),
	nickname VARCHAR(50),
	PRIMARY KEY (id)
)


2020-08-20 15:42:00,792 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 15:42:02,118 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
# Create a session
Session = sqlalchemy.orm.sessionmaker()
Session.configure(bind=engine)
session = Session()
 
# Add a user
jwk_user = User(name='jesper', fullname='Jesper Wisborg Krogh', nickname='kingoooo')
session.add(jwk_user)
session.commit()

2020-08-20 15:43:08,166 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-08-20 15:43:08,168 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (%(name)s, %(fullname)s, %(nickname)s)
2020-08-20 15:43:08,169 INFO sqlalchemy.engine.base.Engine {'name': 'jesper', 'fullname': 'Jesper Wisborg Krogh', 'nickname': 'kingoooo'}
2020-08-20 15:43:08,172 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
# Query the user
our_user = session.query(User).filter_by(name='jesper').first()
print('\nOur User:')
print(our_user)
print('Nick name in hex: {0}'.format(our_user.nickname.encode('utf-8')))

2020-08-20 15:44:13,593 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-08-20 15:44:13,595 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = %(name_1)s
 LIMIT %(param_1)s
2020-08-20 15:44:13,596 INFO sqlalchemy.engine.base.Engine {'name_1': 'jesper', 'param_1': 1}

Our User:
<User(name='jesper', fullname='Jesper Wisborg Krogh', nickname='kingoooo')>
Nick name in hex: b'kingoooo'

In [5]:
import pandas as pd
df = pd.read_csv('gold_data.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2290 entries, 0 to 2289
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     2290 non-null   object
 1   SPX      2290 non-null   float64
 2   GLD      2290 non-null   float64
 3   USO      2290 non-null   float64
 4   SLV      2290 non-null   float64
 5   EUR/USD  2290 non-null   float64
dtypes: float64(5), object(1)
memory usage: 107.5+ KB

In [7]:
df.shape

(2290, 6)

In [8]:
df.head()

       Date          SPX        GLD        USO     SLV   EUR/USD
0  1/2/2008  1447.160034  84.860001  78.470001  15.180  1.471692
1  1/3/2008  1447.160034  85.570000  78.370003  15.285  1.474491
2  1/4/2008  1411.630005  85.129997  77.309998  15.167  1.475492
3  1/7/2008  1416.180054  84.769997  75.500000  15.053  1.468299
4  1/8/2008  1390.189941  86.779999  76.059998  15.590  1.557099

In [10]:
from datetime import datetime
s = "1/8/2008"
f = "%d/%m/%Y"
out = datetime.strptime(s, f)
print(out)

2008-08-01 00:00:00

In [9]:
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base

from sqlalchemy.types import Integer, Text, String, Date, Float

engine = sqlalchemy.create_engine('mysql+mysqlconnector://mainuser:mainpass@mysql:3306/maindb', echo=True)

table_name = 'gold_data'

df.to_sql(
    table_name,
    engine,
    if_exists='replace',
    index=False,
    chunksize=500,
    dtype={
        "Date": String(20),
        "SPX": Float,
        "GLD": Float,
        "USO":  Float,
        "SLV": Float,
        "EUR_USD": Float,
    }
)

2020-08-20 19:59:07,130 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-08-20 19:59:07,131 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 19:59:07,142 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-08-20 19:59:07,144 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 19:59:07,148 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-08-20 19:59:07,150 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 19:59:07,153 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-08-20 19:59:07,154 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 19:59:07,157 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-08-20 19:59:07,158 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 19:59:07,161 INFO sqlalchemy.engine.base.Engine DESCRIBE `gold_data`
2020-08-20 19:59:07,161 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 19:59:07,163 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-08-20 19:59:07,166 INFO sqlalchemy.engine.base.Engine
CREATE TABLE gold_data (
	`Date` VARCHAR(20),
	`SPX` FLOAT,
	`GLD` FLOAT,
	`USO` FLOAT,
	`SLV` FLOAT,
	`EUR/USD` FLOAT(53)
)


2020-08-20 19:59:07,167 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 19:59:07,664 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-20 19:59:07,667 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-08-20 19:59:07,674 INFO sqlalchemy.engine.base.Engine INSERT INTO gold_data (`Date`, `SPX`, `GLD`, `USO`, `SLV`, `EUR/USD`) VALUES (%(Date)s, %(SPX)s, %(GLD)s, %(USO)s, %(SLV)s, %(EUR/USD)s)
2020-08-20 19:59:07,676 INFO sqlalchemy.engine.base.Engine ({'Date': '1/2/2008', 'SPX': 1447.160034, 'GLD': 84.860001, 'USO': 78.470001, 'SLV': 15.18, 'EUR/USD': 1.471692}, {'Date': '1/3/2008', 'SPX': 1447.160034, 'GLD': 85.57, 'USO': 78.370003, 'SLV': 15.285, 'EUR/USD': 1.474491}, {'Date': '1/4/2008', 'SPX': 1411.630005, 'GLD': 85.129997, 'USO': 77.309998, 'SLV': 15.167, 'EUR/USD': 1.475492}, {'Date': '1/7/2008', 'SPX': 1416.180054, 'GLD': 84.769997, 'USO': 75.5, 'SLV': 15.052999999999999, 'EUR/USD': 1.468299}, {'Date': '1/8/2008', 'SPX': 1390.189941, 'GLD': 86.779999, 'USO': 76.059998, 'SLV': 15.59, 'EUR/USD': 1.557099}, {'Date': '1/9/2008', 'SPX': 1409.130005, 'GLD': 86.550003, 'USO': 75.25, 'SLV': 15.52, 'EUR/USD': 1.466405}, {'Date': '1/10/2008', 'SPX': 1420.329956, 'GLD': 88.25, 'USO': 74.019997, 'SLV': 16.061001, 'EUR/USD': 1.4801}, {'Date': '1/11/2008', 'SPX': 1401.02002, 'GLD': 88.58000200000001, 'USO': 73.089996, 'SLV': 16.077, 'EUR/USD': 1.479006}  ... displaying 10 of 500 total bound parameter sets ...  {'Date': '4/8/2010', 'SPX': 1186.439941, 'GLD': 112.650002, 'USO': 41.439999, 'SLV': 17.719998999999998, 'EUR/USD': 1.350093}, {'Date': '4/12/2010', 'SPX': 1196.47998, 'GLD': 113.010002, 'USO': 40.93, 'SLV': 17.799999, 'EUR/USD': 1.360859})
2020-08-20 19:59:07,853 INFO sqlalchemy.engine.base.Engine INSERT INTO gold_data (`Date`, `SPX`, `GLD`, `USO`, `SLV`, `EUR/USD`) VALUES (%(Date)s, %(SPX)s, %(GLD)s, %(USO)s, %(SLV)s, %(EUR/USD)s)
2020-08-20 19:59:07,854 INFO sqlalchemy.engine.base.Engine ({'Date': '4/13/2010', 'SPX': 1197.300049, 'GLD': 112.690002, 'USO': 40.889998999999996, 'SLV': 17.84, 'EUR/USD': 1.3655979999999999}, {'Date': '4/14/2010', 'SPX': 1210.650024, 'GLD': 113.029999, 'USO': 41.759997999999996, 'SLV': 18.07, 'EUR/USD': 1.357405}, {'Date': '4/15/2010', 'SPX': 1211.670044, 'GLD': 113.650002, 'USO': 41.709998999999996, 'SLV': 18.07, 'EUR/USD': 1.350402}, {'Date': '4/19/2010', 'SPX': 1197.52002, 'GLD': 111.150002, 'USO': 40.110001000000004, 'SLV': 17.379998999999998, 'EUR/USD': 1.343508}, {'Date': '4/20/2010', 'SPX': 1207.170044, 'GLD': 111.459999, 'USO': 40.299999, 'SLV': 17.48, 'EUR/USD': 1.338993}, {'Date': '4/21/2010', 'SPX': 1205.939941, 'GLD': 112.309998, 'USO': 40.27, 'SLV': 17.77, 'EUR/USD': 1.326999}, {'Date': '4/22/2010', 'SPX': 1208.670044, 'GLD': 111.839996, 'USO': 40.299999, 'SLV': 17.639999, 'EUR/USD': 1.338401}, {'Date': '4/26/2010', 'SPX': 1212.050049, 'GLD': 112.75, 'USO': 40.349998, 'SLV': 17.93, 'EUR/USD': 1.317072}  ... displaying 10 of 500 total bound parameter sets ...  {'Date': '7/18/2012', 'SPX': 1372.780029, 'GLD': 153.050003, 'USO': 33.689999, 'SLV': 26.42, 'EUR/USD': 1.227747}, {'Date': '7/19/2012', 'SPX': 1376.51001, 'GLD': 153.380005, 'USO': 34.639998999999996, 'SLV': 26.42, 'EUR/USD': 1.227687})
2020-08-20 19:59:08,126 INFO sqlalchemy.engine.base.Engine INSERT INTO gold_data (`Date`, `SPX`, `GLD`, `USO`, `SLV`, `EUR/USD`) VALUES (%(Date)s, %(SPX)s, %(GLD)s, %(USO)s, %(SLV)s, %(EUR/USD)s)
2020-08-20 19:59:08,128 INFO sqlalchemy.engine.base.Engine ({'Date': '7/23/2012', 'SPX': 1350.52002, 'GLD': 153.029999, 'USO': 33.0, 'SLV': 26.209999, 'EUR/USD': 1.212415}, {'Date': '7/24/2012', 'SPX': 1338.310059, 'GLD': 153.520004, 'USO': 33.150002, 'SLV': 26.219998999999998, 'EUR/USD': 1.206185}, {'Date': '7/25/2012', 'SPX': 1337.890015, 'GLD': 155.669998, 'USO': 33.209998999999996, 'SLV': 26.530001000000002, 'EUR/USD': 1.214034}, {'Date': '7/26/2012', 'SPX': 1360.02002, 'GLD': 156.770004, 'USO': 33.41, 'SLV': 26.709999, 'EUR/USD': 1.228049}, {'Date': '7/30/2012', 'SPX': 1385.300049, 'GLD': 157.429993, 'USO': 33.450001, 'SLV': 27.360001, 'EUR/USD': 1.225941}, {'Date': '7/31/2012', 'SPX': 1379.319946, 'GLD': 156.490005, 'USO': 32.68, 'SLV': 27.120001000000002, 'EUR/USD': 1.229407}, {'Date': '8/1/2012', 'SPX': 1375.319946, 'GLD': 155.139999, 'USO': 33.169998, 'SLV': 26.540001, 'EUR/USD': 1.22414}, {'Date': '8/2/2012', 'SPX': 1365.0, 'GLD': 154.130005, 'USO': 32.599998, 'SLV': 26.309998999999998, 'EUR/USD': 1.218027}  ... displaying 10 of 500 total bound parameter sets ...  {'Date': '10/30/2014', 'SPX': 1994.6500239999998, 'GLD': 115.190002, 'USO': 30.76, 'SLV': 15.82, 'EUR/USD': 1.26328}, {'Date': '10/31/2014', 'SPX': 2018.050049, 'GLD': 112.660004, 'USO': 30.629998999999998, 'SLV': 15.5, 'EUR/USD': 1.261336})
2020-08-20 19:59:08,450 INFO sqlalchemy.engine.base.Engine INSERT INTO gold_data (`Date`, `SPX`, `GLD`, `USO`, `SLV`, `EUR/USD`) VALUES (%(Date)s, %(SPX)s, %(GLD)s, %(USO)s, %(SLV)s, %(EUR/USD)s)
2020-08-20 19:59:08,452 INFO sqlalchemy.engine.base.Engine ({'Date': '11/3/2014', 'SPX': 2017.810059, 'GLD': 112.150002, 'USO': 29.76, 'SLV': 15.48, 'EUR/USD': 1.250313}, {'Date': '11/4/2014', 'SPX': 2012.0999760000002, 'GLD': 112.220001, 'USO': 29.299999, 'SLV': 15.36, 'EUR/USD': 1.249594}, {'Date': '11/5/2014', 'SPX': 2023.569946, 'GLD': 109.790001, 'USO': 29.950001, 'SLV': 14.66, 'EUR/USD': 1.255256}, {'Date': '11/6/2014', 'SPX': 2031.209961, 'GLD': 109.879997, 'USO': 29.6, 'SLV': 14.82, 'EUR/USD': 1.248003}, {'Date': '11/7/2014', 'SPX': 2031.9200440000002, 'GLD': 112.970001, 'USO': 29.76, 'SLV': 15.1, 'EUR/USD': 1.238007}, {'Date': '11/10/2014', 'SPX': 2038.2600100000002, 'GLD': 110.459999, 'USO': 29.34, 'SLV': 14.92, 'EUR/USD': 1.246137}, {'Date': '11/11/2014', 'SPX': 2039.680054, 'GLD': 112.040001, 'USO': 29.42, 'SLV': 15.11, 'EUR/USD': 1.242993}, {'Date': '11/12/2014', 'SPX': 2038.25, 'GLD': 111.5, 'USO': 29.139999, 'SLV': 15.03, 'EUR/USD': 1.2475829999999999}  ... displaying 10 of 500 total bound parameter sets ...  {'Date': '1/23/2017', 'SPX': 2265.199951, 'GLD': 115.790001, 'USO': 11.32, 'SLV': 16.290001, 'EUR/USD': 1.071375}, {'Date': '1/24/2017', 'SPX': 2280.070068, 'GLD': 115.269997, 'USO': 11.37, 'SLV': 16.219998999999998, 'EUR/USD': 1.076079})
2020-08-20 19:59:08,814 INFO sqlalchemy.engine.base.Engine INSERT INTO gold_data (`Date`, `SPX`, `GLD`, `USO`, `SLV`, `EUR/USD`) VALUES (%(Date)s, %(SPX)s, %(GLD)s, %(USO)s, %(SLV)s, %(EUR/USD)s)
2020-08-20 19:59:08,816 INFO sqlalchemy.engine.base.Engine ({'Date': '1/25/2017', 'SPX': 2298.3701170000004, 'GLD': 114.32, 'USO': 11.31, 'SLV': 16.1, 'EUR/USD': 1.072869}, {'Date': '1/26/2017', 'SPX': 2296.679932, 'GLD': 113.260002, 'USO': 11.53, 'SLV': 15.93, 'EUR/USD': 1.075199}, {'Date': '1/27/2017', 'SPX': 2294.689941, 'GLD': 113.489998, 'USO': 11.4, 'SLV': 16.219998999999998, 'EUR/USD': 1.068296}, {'Date': '1/30/2017', 'SPX': 2280.899902, 'GLD': 113.970001, 'USO': 11.28, 'SLV': 16.23, 'EUR/USD': 1.0713979999999999}, {'Date': '1/31/2017', 'SPX': 2278.8701170000004, 'GLD': 115.550003, 'USO': 11.32, 'SLV': 16.629998999999998, 'EUR/USD': 1.070859}, {'Date': '2/1/2017', 'SPX': 2279.550049, 'GLD': 115.199997, 'USO': 11.48, 'SLV': 16.610001, 'EUR/USD': 1.08038}, {'Date': '2/2/2017', 'SPX': 2280.850098, 'GLD': 115.839996, 'USO': 11.51, 'SLV': 16.559998999999998, 'EUR/USD': 1.076739}, {'Date': '2/3/2017', 'SPX': 2297.419922, 'GLD': 116.129997, 'USO': 11.54, 'SLV': 16.57, 'EUR/USD': 1.076171}  ... displaying 10 of 290 total bound parameter sets ...  {'Date': '5/14/2018', 'SPX': 2730.1298829999996, 'GLD': 124.489998, 'USO': 14.38, 'SLV': 15.56, 'EUR/USD': 1.1931180000000001}, {'Date': '5/16/2018', 'SPX': 2725.780029, 'GLD': 122.5438, 'USO': 14.4058, 'SLV': 15.4542, 'EUR/USD': 1.182033})
2020-08-20 19:59:09,652 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
sql_df = pd.read_sql(
    "SELECT * FROM gold_data",
    con=engine,
    parse_dates=[
        'created_at',
        'updated_at'
    ]
)

2020-08-20 19:59:11,880 INFO sqlalchemy.engine.base.Engine DESCRIBE `SELECT * FROM gold_data`
2020-08-20 19:59:11,881 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 19:59:11,883 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-08-20 19:59:11,885 INFO sqlalchemy.engine.base.OptionEngine SELECT * FROM gold_data
2020-08-20 19:59:11,886 INFO sqlalchemy.engine.base.OptionEngine {}

In [11]:
sql_df.head()

       Date      SPX    GLD    USO     SLV   EUR/USD
0  1/2/2008  1447.16  84.86  78.47  15.180  1.471692
1  1/3/2008  1447.16  85.57  78.37  15.285  1.474491
2  1/4/2008  1411.63  85.13  77.31  15.167  1.475492
3  1/7/2008  1416.18  84.77  75.50  15.053  1.468299
4  1/8/2008  1390.19  86.78  76.06  15.590  1.557099

In [12]:
sql_df.shape

(2290, 6)

In [13]:
table_df = pd.read_sql_table(
    "gold_data",
    con=engine,
    schema='maindb',
    coerce_float=True,
    columns=[
        "Date",
        "SPX",
        "GLD",
        "USO",
        "SLV",
        "EUR/USD"
    ],
    parse_dates=[
        'created_at',
        'updated_at'
    ],
    chunksize=500
)

2020-08-20 19:59:15,979 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `maindb`
2020-08-20 19:59:15,980 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 19:59:15,984 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `maindb`
2020-08-20 19:59:15,984 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 19:59:16,003 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `maindb`.`gold_data`
2020-08-20 19:59:16,004 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 19:59:16,009 INFO sqlalchemy.engine.base.OptionEngine SELECT maindb.gold_data.`Date`, maindb.gold_data.`SPX`, maindb.gold_data.`GLD`, maindb.gold_data.`USO`, maindb.gold_data.`SLV`, maindb.gold_data.`EUR/USD`
FROM maindb.gold_data
2020-08-20 19:59:16,010 INFO sqlalchemy.engine.base.OptionEngine {}

In [14]:
t_df = pd.DataFrame()
for chunk in table_df:
    t_df = pd.concat([t_df, chunk], ignore_index=True)

In [15]:
t_df.head()

       Date      SPX    GLD    USO     SLV   EUR/USD
0  1/2/2008  1447.16  84.86  78.47  15.180  1.471692
1  1/3/2008  1447.16  85.57  78.37  15.285  1.474491
2  1/4/2008  1411.63  85.13  77.31  15.167  1.475492
3  1/7/2008  1416.18  84.77  75.50  15.053  1.468299
4  1/8/2008  1390.19  86.78  76.06  15.590  1.557099