In [2]:
import mysql.connector
conn = mysql.connector.connect (user='mainuser', password='mainpass',
                               host='mysql',buffered=True)
cursor = conn.cursor()
databases = ("show databases")
cursor.execute(databases)
for (databases) in cursor:
     print(databases[0])

information_schema
maindb

In [4]:
import mysql.connector
conn = mysql.connector.connect(user='mainuser', password='mainpass',
                               host='mysql',buffered=True)

cursor = conn.cursor()
cursor.execute('use maindb')
cursor.execute("show tables") 
cursor.fetchall()

[]

In [ ]:
# mysql://myuser:mypass:pass@db.host:3306/somedb

In [1]:
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base

In [2]:
engine = sqlalchemy.create_engine('mysql+mysqlconnector://mainuser:mainpass@mysql:3306/maindb', echo=True)

In [3]:
# Define and create the table
Base = declarative_base()
 
class User(Base):
    __tablename__ = 'users'
 
    id = sqlalchemy.Column(sqlalchemy.Integer, primary_key=True)
    name = sqlalchemy.Column(sqlalchemy.String(length=50))
    fullname = sqlalchemy.Column(sqlalchemy.String(length=50))
    nickname = sqlalchemy.Column(sqlalchemy.String(length=50))
 
    def __repr__(self):
        return "<User(name='{0}', fullname='{1}', nickname='{2}')>".format(
                            self.name, self.fullname, self.nickname)
 
Base.metadata.create_all(engine)

2020-08-20 15:42:00,761 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-08-20 15:42:00,764 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 15:42:00,771 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-08-20 15:42:00,772 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 15:42:00,776 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-08-20 15:42:00,777 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 15:42:00,780 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-08-20 15:42:00,781 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 15:42:00,783 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-08-20 15:42:00,784 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 15:42:00,786 INFO sqlalchemy.engine.base.Engine DESCRIBE `users`
2020-08-20 15:42:00,787 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 15:42:00,788 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-08-20 15:42:00,790 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(50),
	fullname VARCHAR(50),
	nickname VARCHAR(50),
	PRIMARY KEY (id)
)


2020-08-20 15:42:00,792 INFO sqlalchemy.engine.base.Engine {}
2020-08-20 15:42:02,118 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
# Create a session
Session = sqlalchemy.orm.sessionmaker()
Session.configure(bind=engine)
session = Session()
 
# Add a user
jwk_user = User(name='jesper', fullname='Jesper Wisborg Krogh', nickname='kingoooo')
session.add(jwk_user)
session.commit()

2020-08-20 15:43:08,166 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-08-20 15:43:08,168 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (%(name)s, %(fullname)s, %(nickname)s)
2020-08-20 15:43:08,169 INFO sqlalchemy.engine.base.Engine {'name': 'jesper', 'fullname': 'Jesper Wisborg Krogh', 'nickname': 'kingoooo'}
2020-08-20 15:43:08,172 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
# Query the user
our_user = session.query(User).filter_by(name='jesper').first()
print('\nOur User:')
print(our_user)
print('Nick name in hex: {0}'.format(our_user.nickname.encode('utf-8')))

2020-08-20 15:44:13,593 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-08-20 15:44:13,595 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = %(name_1)s
 LIMIT %(param_1)s
2020-08-20 15:44:13,596 INFO sqlalchemy.engine.base.Engine {'name_1': 'jesper', 'param_1': 1}

Our User:
<User(name='jesper', fullname='Jesper Wisborg Krogh', nickname='kingoooo')>
Nick name in hex: b'kingoooo'

In [22]:
import pandas as pd
df = pd.read_csv('gold_data.csv')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2290 entries, 0 to 2289
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     2290 non-null   object
 1   SPX      2290 non-null   float64
 2   GLD      2290 non-null   float64
 3   USO      2290 non-null   float64
 4   SLV      2290 non-null   float64
 5   EUR/USD  2290 non-null   float64
dtypes: float64(5), object(1)
memory usage: 107.5+ KB

In [9]:
df.shape

(2290, 6)

In [10]:
df.head()

       Date          SPX        GLD        USO     SLV   EUR/USD
0  1/2/2008  1447.160034  84.860001  78.470001  15.180  1.471692
1  1/3/2008  1447.160034  85.570000  78.370003  15.285  1.474491
2  1/4/2008  1411.630005  85.129997  77.309998  15.167  1.475492
3  1/7/2008  1416.180054  84.769997  75.500000  15.053  1.468299
4  1/8/2008  1390.189941  86.779999  76.059998  15.590  1.557099

In [19]:
df["Date"]

0       2008-01-02
1       2008-01-03
2       2008-01-04
3       2008-01-07
4       2008-01-08
           ...
2285    2018-05-08
2286    2018-05-09
2287    2018-05-10
2288    2018-05-14
2289    2018-05-16
Name: Date, Length: 2290, dtype: object

In [14]:
from datetime import datetime
# s = "1/8/2008"
# f = "%d/%m/%Y"
# out = datetime.strptime(s, f)
# print(out)
datetime_obj= datetime.strptime("1/8/2008" , "%m/%d/%Y").date().isoformat()
print(datetime_obj)

2008-01-08

In [23]:
from datetime import datetime

def to_time(time_str):
    return datetime.strptime(time_str , "%m/%d/%Y").date()

df["Date"] = df["Date"].map(to_time)

# df['Date'] = pd.to_datetime(df['Date'], format="%m/%d/%Y")

In [24]:
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base

from sqlalchemy.types import Integer, Text, String, Date, Float, TIMESTAMP

engine = sqlalchemy.create_engine('mysql+mysqlconnector://mainuser:mainpass@mysql:3306/maindb', echo=True)

table_name = 'gold_data_v3'

df.to_sql(
    table_name,
    engine,
    if_exists='replace',
    index=True,
    chunksize=500,
    dtype={
        "Date": TIMESTAMP,
        "SPX": Float,
        "GLD": Float,
        "USO":  Float,
        "SLV": Float,
        "EUR/USD": Float,
    }
)

2020-08-21 07:30:42,937 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-08-21 07:30:42,938 INFO sqlalchemy.engine.base.Engine {}
2020-08-21 07:30:42,943 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-08-21 07:30:42,945 INFO sqlalchemy.engine.base.Engine {}
2020-08-21 07:30:42,949 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-08-21 07:30:42,950 INFO sqlalchemy.engine.base.Engine {}
2020-08-21 07:30:42,953 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-08-21 07:30:42,954 INFO sqlalchemy.engine.base.Engine {}
2020-08-21 07:30:42,956 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-08-21 07:30:42,957 INFO sqlalchemy.engine.base.Engine {}
2020-08-21 07:30:42,958 INFO sqlalchemy.engine.base.Engine DESCRIBE `gold_data_v3`
2020-08-21 07:30:42,959 INFO sqlalchemy.engine.base.Engine {}
2020-08-21 07:30:42,962 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-08-21 07:30:42,966 INFO sqlalchemy.engine.base.Engine
CREATE TABLE gold_data_v3 (
	`index` BIGINT,
	`Date` TIMESTAMP NULL,
	`SPX` FLOAT,
	`GLD` FLOAT,
	`USO` FLOAT,
	`SLV` FLOAT,
	`EUR/USD` FLOAT
)


2020-08-21 07:30:42,967 INFO sqlalchemy.engine.base.Engine {}
2020-08-21 07:30:43,660 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-21 07:30:43,665 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_gold_data_v3_index ON gold_data_v3 (`index`)
2020-08-21 07:30:43,667 INFO sqlalchemy.engine.base.Engine {}
2020-08-21 07:30:45,036 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-21 07:30:45,045 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-08-21 07:30:45,056 INFO sqlalchemy.engine.base.Engine INSERT INTO gold_data_v3 (`index`, `Date`, `SPX`, `GLD`, `USO`, `SLV`, `EUR/USD`) VALUES (%(index)s, %(Date)s, %(SPX)s, %(GLD)s, %(USO)s, %(SLV)s, %(EUR/USD)s)
2020-08-21 07:30:45,057 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'Date': datetime.date(2008, 1, 2), 'SPX': 1447.160034, 'GLD': 84.860001, 'USO': 78.470001, 'SLV': 15.18, 'EUR/USD': 1.471692}, {'index': 1, 'Date': datetime.date(2008, 1, 3), 'SPX': 1447.160034, 'GLD': 85.57, 'USO': 78.370003, 'SLV': 15.285, 'EUR/USD': 1.474491}, {'index': 2, 'Date': datetime.date(2008, 1, 4), 'SPX': 1411.630005, 'GLD': 85.129997, 'USO': 77.309998, 'SLV': 15.167, 'EUR/USD': 1.475492}, {'index': 3, 'Date': datetime.date(2008, 1, 7), 'SPX': 1416.180054, 'GLD': 84.769997, 'USO': 75.5, 'SLV': 15.052999999999999, 'EUR/USD': 1.468299}, {'index': 4, 'Date': datetime.date(2008, 1, 8), 'SPX': 1390.189941, 'GLD': 86.779999, 'USO': 76.059998, 'SLV': 15.59, 'EUR/USD': 1.557099}, {'index': 5, 'Date': datetime.date(2008, 1, 9), 'SPX': 1409.130005, 'GLD': 86.550003, 'USO': 75.25, 'SLV': 15.52, 'EUR/USD': 1.466405}, {'index': 6, 'Date': datetime.date(2008, 1, 10), 'SPX': 1420.329956, 'GLD': 88.25, 'USO': 74.019997, 'SLV': 16.061001, 'EUR/USD': 1.4801}, {'index': 7, 'Date': datetime.date(2008, 1, 11), 'SPX': 1401.02002, 'GLD': 88.58000200000001, 'USO': 73.089996, 'SLV': 16.077, 'EUR/USD': 1.479006}  ... displaying 10 of 500 total bound parameter sets ...  {'index': 498, 'Date': datetime.date(2010, 4, 8), 'SPX': 1186.439941, 'GLD': 112.650002, 'USO': 41.439999, 'SLV': 17.719998999999998, 'EUR/USD': 1.350093}, {'index': 499, 'Date': datetime.date(2010, 4, 12), 'SPX': 1196.47998, 'GLD': 113.010002, 'USO': 40.93, 'SLV': 17.799999, 'EUR/USD': 1.360859})
2020-08-21 07:30:45,688 INFO sqlalchemy.engine.base.Engine INSERT INTO gold_data_v3 (`index`, `Date`, `SPX`, `GLD`, `USO`, `SLV`, `EUR/USD`) VALUES (%(index)s, %(Date)s, %(SPX)s, %(GLD)s, %(USO)s, %(SLV)s, %(EUR/USD)s)
2020-08-21 07:30:45,690 INFO sqlalchemy.engine.base.Engine ({'index': 500, 'Date': datetime.date(2010, 4, 13), 'SPX': 1197.300049, 'GLD': 112.690002, 'USO': 40.889998999999996, 'SLV': 17.84, 'EUR/USD': 1.3655979999999999}, {'index': 501, 'Date': datetime.date(2010, 4, 14), 'SPX': 1210.650024, 'GLD': 113.029999, 'USO': 41.759997999999996, 'SLV': 18.07, 'EUR/USD': 1.357405}, {'index': 502, 'Date': datetime.date(2010, 4, 15), 'SPX': 1211.670044, 'GLD': 113.650002, 'USO': 41.709998999999996, 'SLV': 18.07, 'EUR/USD': 1.350402}, {'index': 503, 'Date': datetime.date(2010, 4, 19), 'SPX': 1197.52002, 'GLD': 111.150002, 'USO': 40.110001000000004, 'SLV': 17.379998999999998, 'EUR/USD': 1.343508}, {'index': 504, 'Date': datetime.date(2010, 4, 20), 'SPX': 1207.170044, 'GLD': 111.459999, 'USO': 40.299999, 'SLV': 17.48, 'EUR/USD': 1.338993}, {'index': 505, 'Date': datetime.date(2010, 4, 21), 'SPX': 1205.939941, 'GLD': 112.309998, 'USO': 40.27, 'SLV': 17.77, 'EUR/USD': 1.326999}, {'index': 506, 'Date': datetime.date(2010, 4, 22), 'SPX': 1208.670044, 'GLD': 111.839996, 'USO': 40.299999, 'SLV': 17.639999, 'EUR/USD': 1.338401}, {'index': 507, 'Date': datetime.date(2010, 4, 26), 'SPX': 1212.050049, 'GLD': 112.75, 'USO': 40.349998, 'SLV': 17.93, 'EUR/USD': 1.317072}  ... displaying 10 of 500 total bound parameter sets ...  {'index': 998, 'Date': datetime.date(2012, 7, 18), 'SPX': 1372.780029, 'GLD': 153.050003, 'USO': 33.689999, 'SLV': 26.42, 'EUR/USD': 1.227747}, {'index': 999, 'Date': datetime.date(2012, 7, 19), 'SPX': 1376.51001, 'GLD': 153.380005, 'USO': 34.639998999999996, 'SLV': 26.42, 'EUR/USD': 1.227687})
2020-08-21 07:30:46,045 INFO sqlalchemy.engine.base.Engine INSERT INTO gold_data_v3 (`index`, `Date`, `SPX`, `GLD`, `USO`, `SLV`, `EUR/USD`) VALUES (%(index)s, %(Date)s, %(SPX)s, %(GLD)s, %(USO)s, %(SLV)s, %(EUR/USD)s)
2020-08-21 07:30:46,046 INFO sqlalchemy.engine.base.Engine ({'index': 1000, 'Date': datetime.date(2012, 7, 23), 'SPX': 1350.52002, 'GLD': 153.029999, 'USO': 33.0, 'SLV': 26.209999, 'EUR/USD': 1.212415}, {'index': 1001, 'Date': datetime.date(2012, 7, 24), 'SPX': 1338.310059, 'GLD': 153.520004, 'USO': 33.150002, 'SLV': 26.219998999999998, 'EUR/USD': 1.206185}, {'index': 1002, 'Date': datetime.date(2012, 7, 25), 'SPX': 1337.890015, 'GLD': 155.669998, 'USO': 33.209998999999996, 'SLV': 26.530001000000002, 'EUR/USD': 1.214034}, {'index': 1003, 'Date': datetime.date(2012, 7, 26), 'SPX': 1360.02002, 'GLD': 156.770004, 'USO': 33.41, 'SLV': 26.709999, 'EUR/USD': 1.228049}, {'index': 1004, 'Date': datetime.date(2012, 7, 30), 'SPX': 1385.300049, 'GLD': 157.429993, 'USO': 33.450001, 'SLV': 27.360001, 'EUR/USD': 1.225941}, {'index': 1005, 'Date': datetime.date(2012, 7, 31), 'SPX': 1379.319946, 'GLD': 156.490005, 'USO': 32.68, 'SLV': 27.120001000000002, 'EUR/USD': 1.229407}, {'index': 1006, 'Date': datetime.date(2012, 8, 1), 'SPX': 1375.319946, 'GLD': 155.139999, 'USO': 33.169998, 'SLV': 26.540001, 'EUR/USD': 1.22414}, {'index': 1007, 'Date': datetime.date(2012, 8, 2), 'SPX': 1365.0, 'GLD': 154.130005, 'USO': 32.599998, 'SLV': 26.309998999999998, 'EUR/USD': 1.218027}  ... displaying 10 of 500 total bound parameter sets ...  {'index': 1498, 'Date': datetime.date(2014, 10, 30), 'SPX': 1994.6500239999998, 'GLD': 115.190002, 'USO': 30.76, 'SLV': 15.82, 'EUR/USD': 1.26328}, {'index': 1499, 'Date': datetime.date(2014, 10, 31), 'SPX': 2018.050049, 'GLD': 112.660004, 'USO': 30.629998999999998, 'SLV': 15.5, 'EUR/USD': 1.261336})
2020-08-21 07:30:46,397 INFO sqlalchemy.engine.base.Engine INSERT INTO gold_data_v3 (`index`, `Date`, `SPX`, `GLD`, `USO`, `SLV`, `EUR/USD`) VALUES (%(index)s, %(Date)s, %(SPX)s, %(GLD)s, %(USO)s, %(SLV)s, %(EUR/USD)s)
2020-08-21 07:30:46,399 INFO sqlalchemy.engine.base.Engine ({'index': 1500, 'Date': datetime.date(2014, 11, 3), 'SPX': 2017.810059, 'GLD': 112.150002, 'USO': 29.76, 'SLV': 15.48, 'EUR/USD': 1.250313}, {'index': 1501, 'Date': datetime.date(2014, 11, 4), 'SPX': 2012.0999760000002, 'GLD': 112.220001, 'USO': 29.299999, 'SLV': 15.36, 'EUR/USD': 1.249594}, {'index': 1502, 'Date': datetime.date(2014, 11, 5), 'SPX': 2023.569946, 'GLD': 109.790001, 'USO': 29.950001, 'SLV': 14.66, 'EUR/USD': 1.255256}, {'index': 1503, 'Date': datetime.date(2014, 11, 6), 'SPX': 2031.209961, 'GLD': 109.879997, 'USO': 29.6, 'SLV': 14.82, 'EUR/USD': 1.248003}, {'index': 1504, 'Date': datetime.date(2014, 11, 7), 'SPX': 2031.9200440000002, 'GLD': 112.970001, 'USO': 29.76, 'SLV': 15.1, 'EUR/USD': 1.238007}, {'index': 1505, 'Date': datetime.date(2014, 11, 10), 'SPX': 2038.2600100000002, 'GLD': 110.459999, 'USO': 29.34, 'SLV': 14.92, 'EUR/USD': 1.246137}, {'index': 1506, 'Date': datetime.date(2014, 11, 11), 'SPX': 2039.680054, 'GLD': 112.040001, 'USO': 29.42, 'SLV': 15.11, 'EUR/USD': 1.242993}, {'index': 1507, 'Date': datetime.date(2014, 11, 12), 'SPX': 2038.25, 'GLD': 111.5, 'USO': 29.139999, 'SLV': 15.03, 'EUR/USD': 1.2475829999999999}  ... displaying 10 of 500 total bound parameter sets ...  {'index': 1998, 'Date': datetime.date(2017, 1, 23), 'SPX': 2265.199951, 'GLD': 115.790001, 'USO': 11.32, 'SLV': 16.290001, 'EUR/USD': 1.071375}, {'index': 1999, 'Date': datetime.date(2017, 1, 24), 'SPX': 2280.070068, 'GLD': 115.269997, 'USO': 11.37, 'SLV': 16.219998999999998, 'EUR/USD': 1.076079})
2020-08-21 07:30:46,728 INFO sqlalchemy.engine.base.Engine INSERT INTO gold_data_v3 (`index`, `Date`, `SPX`, `GLD`, `USO`, `SLV`, `EUR/USD`) VALUES (%(index)s, %(Date)s, %(SPX)s, %(GLD)s, %(USO)s, %(SLV)s, %(EUR/USD)s)
2020-08-21 07:30:46,729 INFO sqlalchemy.engine.base.Engine ({'index': 2000, 'Date': datetime.date(2017, 1, 25), 'SPX': 2298.3701170000004, 'GLD': 114.32, 'USO': 11.31, 'SLV': 16.1, 'EUR/USD': 1.072869}, {'index': 2001, 'Date': datetime.date(2017, 1, 26), 'SPX': 2296.679932, 'GLD': 113.260002, 'USO': 11.53, 'SLV': 15.93, 'EUR/USD': 1.075199}, {'index': 2002, 'Date': datetime.date(2017, 1, 27), 'SPX': 2294.689941, 'GLD': 113.489998, 'USO': 11.4, 'SLV': 16.219998999999998, 'EUR/USD': 1.068296}, {'index': 2003, 'Date': datetime.date(2017, 1, 30), 'SPX': 2280.899902, 'GLD': 113.970001, 'USO': 11.28, 'SLV': 16.23, 'EUR/USD': 1.0713979999999999}, {'index': 2004, 'Date': datetime.date(2017, 1, 31), 'SPX': 2278.8701170000004, 'GLD': 115.550003, 'USO': 11.32, 'SLV': 16.629998999999998, 'EUR/USD': 1.070859}, {'index': 2005, 'Date': datetime.date(2017, 2, 1), 'SPX': 2279.550049, 'GLD': 115.199997, 'USO': 11.48, 'SLV': 16.610001, 'EUR/USD': 1.08038}, {'index': 2006, 'Date': datetime.date(2017, 2, 2), 'SPX': 2280.850098, 'GLD': 115.839996, 'USO': 11.51, 'SLV': 16.559998999999998, 'EUR/USD': 1.076739}, {'index': 2007, 'Date': datetime.date(2017, 2, 3), 'SPX': 2297.419922, 'GLD': 116.129997, 'USO': 11.54, 'SLV': 16.57, 'EUR/USD': 1.076171}  ... displaying 10 of 290 total bound parameter sets ...  {'index': 2288, 'Date': datetime.date(2018, 5, 14), 'SPX': 2730.1298829999996, 'GLD': 124.489998, 'USO': 14.38, 'SLV': 15.56, 'EUR/USD': 1.1931180000000001}, {'index': 2289, 'Date': datetime.date(2018, 5, 16), 'SPX': 2725.780029, 'GLD': 122.5438, 'USO': 14.4058, 'SLV': 15.4542, 'EUR/USD': 1.182033})
2020-08-21 07:30:46,844 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
sql_df = pd.read_sql(
    "SELECT * FROM gold_data",
    con=engine,
    index_col='index',
    parse_dates=[
        'created_at',
        'updated_at'
    ]
)

2020-08-21 06:53:15,998 INFO sqlalchemy.engine.base.Engine DESCRIBE `SELECT * FROM gold_data`
2020-08-21 06:53:15,999 INFO sqlalchemy.engine.base.Engine {}
2020-08-21 06:53:16,002 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-08-21 06:53:16,003 INFO sqlalchemy.engine.base.OptionEngine SELECT * FROM gold_data
2020-08-21 06:53:16,004 INFO sqlalchemy.engine.base.OptionEngine {}

In [9]:
sql_df.head()

             Date      SPX    GLD    USO     SLV  EUR/USD
index
0      2008-01-02  1447.16  84.86  78.47  15.180  1.47169
1      2008-01-03  1447.16  85.57  78.37  15.285  1.47449
2      2008-01-04  1411.63  85.13  77.31  15.167  1.47549
3      2008-01-07  1416.18  84.77  75.50  15.053  1.46830
4      2008-01-08  1390.19  86.78  76.06  15.590  1.55710

In [22]:
sql_df.shape

(2290, 6)

In [10]:
table_df = pd.read_sql_table(
    "gold_data",
    con=engine,
    index_col='index',
    schema='maindb',
    coerce_float=True,
    columns=[
        "Date",
        "SPX",
        "GLD",
        "USO",
        "SLV",
        "EUR/USD"
    ],
    parse_dates=[
        'created_at',
        'updated_at'
    ],
    chunksize=500
)

2020-08-21 06:53:44,528 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `maindb`
2020-08-21 06:53:44,530 INFO sqlalchemy.engine.base.Engine {}
2020-08-21 06:53:44,535 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `maindb`
2020-08-21 06:53:44,537 INFO sqlalchemy.engine.base.Engine {}
2020-08-21 06:53:44,562 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `maindb`.`gold_data`
2020-08-21 06:53:44,564 INFO sqlalchemy.engine.base.Engine {}
2020-08-21 06:53:44,571 INFO sqlalchemy.engine.base.OptionEngine SELECT maindb.gold_data.`index`, maindb.gold_data.`Date`, maindb.gold_data.`SPX`, maindb.gold_data.`GLD`, maindb.gold_data.`USO`, maindb.gold_data.`SLV`, maindb.gold_data.`EUR/USD`
FROM maindb.gold_data
2020-08-21 06:53:44,572 INFO sqlalchemy.engine.base.OptionEngine {}

In [11]:
t_df = pd.DataFrame()
for chunk in table_df:
    t_df = pd.concat([t_df, chunk], ignore_index=True)

In [12]:
t_df.head()

        Date      SPX    GLD    USO     SLV  EUR/USD
0 2008-01-02  1447.16  84.86  78.47  15.180  1.47169
1 2008-01-03  1447.16  85.57  78.37  15.285  1.47449
2 2008-01-04  1411.63  85.13  77.31  15.167  1.47549
3 2008-01-07  1416.18  84.77  75.50  15.053  1.46830
4 2008-01-08  1390.19  86.78  76.06  15.590  1.55710